[Unit]
Description=Bottle Root Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/python3 /root/bot.py

Restart=always
RestartSec=15

# По-добри логове (и да не "буферира" stdout)
Environment=PYTHONUNBUFFERED=1

# Логовете отиват в journald
StandardOutput=journal
StandardError=journal

# (по желание) лимити
# TimeoutStartSec=30
# KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

# How to use
# sudo systemctl daemon-reload
# sudo systemctl enable bottle_root
# sudo systemctl  start bottle_root
# sudo journalctl -f -u bottle_root
# file: /etc/systemd/system/bottle_root.service
