run:
crontab -e => for local user
sudo crontab -e => for root user

add lines:
# on every one minute with lock
* * * * * flock -n /tmp/one-minute-lock -c '/път/до/командата >> /път/до/лог-файла 2>&1'
# to run a job every 5 minutes
*/5 * * * * /bin/bash /root/git/db/restart_fpm.sh
# to run a job at 1 a.m.
0 1 * * * /usr/sbin/service mqtt2db restart
