# минимална дължина на span 24 широчини на цифрата 0
<span style="display: inline-block; min-width: 24ch;">

# форматиране на падащ списък
#id_select select {
  width: 100%;
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

# input with auto size from content
field-sizing: content;

# detect phone layout and change position
@media only screen and ( max-device-width: 736px ) {
  div.class {
    position: relative;
    top: 10px;
  }
}

@media print {
    body {
        width: 210mm; /* Широчина на A4 формат */
        margin: 0 auto; /* Центриране */
        padding: 15mm 10mm; /* Отстояние от горния и долния ръб, както и от лявата и дясната страна */
    }
    table {
        width: 90%; /* 90% от ширината на body */
        margin: 0 auto; /* Центриране */
    }
}

/* втората колона с дължина 3 символа
   подходящо за фиксиран шрифт (като Courier) */
table tr td:nth-child(2), table tr th:nth-child(2) {
    width: 3ch;  /* ch е единица за широчина, базирана на ширината на символа '0' */
    white-space: nowrap; /* Предотвратява пренасянето на текст на нов ред */
    overflow: hidden; /* Скрива текста, който излиза извън зададената ширина */
    text-overflow: ellipsis; /* Показва многоточие, ако текстът е по-дълъг */
}

/* Печат на таблицата */
@media print {
  page {
    size: A4 landscape;
  }
  body, html {
    width: 100%;
    padding: 0mm 0mm 0mm 10mm;
  }
  /* Стил за таблицата при печат */
  table {
    width: calc(100% - 25mm);
  }
}

<!DOCTYPE html>
<html lang="bg">
<head>
<meta charset="UTF-8">
<title>Форматиране на подпис</title>
<style>
  .signature-line {
    border-bottom: 1px solid black; /* създава линия за подпис */
    width: 300px; /* фиксирана ширина достатъчна за подпис */
    width: 100mm; /* ПЕЧАТ ширина на линията за подпис в милиметри */
    display: inline-block; /* прави елемента в реда с текста */
  }

  .signature-text {
    font-size: 0.8em; /* прави текста "подпис" по-малък */
  }
</style>
</head>
<body>

<p>С уважение <span class="signature-text">(подпис):</span>
<span class="signature-line">&nbsp;</span></p> <!-- &nbsp; е използван, за да задържи линията видима дори когато няма текст -->

</body>
</html>
